{% if header %} 
## {{ header }} 
{% endif %} 

{% if documentation %}  
{{ documentation }}     
{% endif %}  

```rust
{{ code }} 
```

{% if output %} 
Outputs: 

``` 
{{ output }}``` 
{% endif %} 
