=={{header|Rust}}

<% if header %>
===Header===
<% endif %>

<% if documentation %>
%% documentation %%
<% endif %>

<lang rust>%% code %%<lang>

<% if output %>
Outputs:
<pre>{output}
<pre>
<% endif %>
